<section class="actual">
  <picture>
    <!-- SP -->
    <source srcset="../images/actual01-sp.jpg" media="(max-width: 768px)">
    
    <!-- PC -->
    <img src="../images/actual01-pc.jpg" alt="実際の削減事例">
  </picture>

  <picture>
    <!-- SP -->
    <source srcset="../images/actual02-sp.jpg" media="(max-width: 768px)">
    
    <!-- PC -->
    <img src="../images/actual02-pc.jpg" alt="みん社保加入で10年後に大きな差が！">
  </picture>

  <div class="actual-bottom">
    <div class="saving-text">
      <p class="line1">月々4.7万円の削減により</p>
      <p class="line2">
        10年間で
        <span class="highlight">565万円</span>
        の削減に！
      </p>
    </div>
    <a href="#contact" class="ask-btn">
      なぜ安くなるのか聞いてみます！
    </a>
  </div>
</section>
