<section class="carrier">
  <div class="inner">
    <h2 class="section-title">運営者情報</h2>
    <table class="table2">
      <tr>
        <td>名称</td>
        <td>
          一般社団法人Lufull（ルフル）
        </td>
      </tr>
      <tr>
        <td>所在地</td>
        <td>東京都新宿区西新宿8-17-2 9F</td>
      </tr>
      <tr>
        <td>事業内容</td>
        <td>
          全てのフリーランスの方への、社会保険と将来設計のサポートを行う団体です。
        </td>
      </tr>
      <tr>
        <td>当サイトの目的</td>
        <td>
          当サイトは、フリーランスとして働く方々に対して、安心して将来を設計できるよう、社会保険・生活サポートに関する情報を分かりやすく提供することを目的としています。
        </td>
      </tr>
    </table>
  </div>
</section>
