<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" />
<meta name="applicable-device" content="pc,mobile" />
<meta name="format-detection" content="telephone=no, email=no, address=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta name="mobile-web-app-capable" content="yes" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui"
/>
<meta name="msapplication-tap-highlight" content="yes" />
<meta name="screen-orientation" content="portrait" />
<meta name="full-screen" content="yes" />
<meta name="browsermode" content="application" />
<meta name="apple-mobile-web-app-title" content="" />
<meta
  name="Description"
  content="みん社保ではフリーランスが加入できるお得な社会保険のご紹介ができます！確定申告サポート、経費の削減などもお任せください！"
/>
<meta name="keyword" content="フリーランス、社会保険、個人事業主、節税" />
<title>フリーランスの社会保険なら【みん社保】</title>
<link rel="stylesheet" href="/css/reset.css" />
<!-- <link rel="stylesheet" href="/css/style.css" /> -->
<link rel="stylesheet" href="/css/style.css">
<script src="/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="apple-touch-icon-precomposed" href="" />
<link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap"
  rel="stylesheet"
/>
<script>
  (function (d) {
    var config = {
        kitId: "grz4rjo",
        scriptTimeout: 3000,
        async: true,
      },
      h = d.documentElement,
      t = setTimeout(function () {
        h.className =
          h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
      }, config.scriptTimeout),
      tk = d.createElement("script"),
      f = false,
      s = d.getElementsByTagName("script")[0],
      a;
    h.className += " wf-loading";
    tk.src = "https://use.typekit.net/" + config.kitId + ".js";
    tk.async = true;
    tk.onload = tk.onreadystatechange = function () {
      a = this.readyState;
      if (f || (a && a != "complete" && a != "loaded")) return;
      f = true;
      clearTimeout(t);
      try {
        Typekit.load(config);
      } catch (e) {}
    };
    s.parentNode.insertBefore(tk, s);
  })(document);
</script>

