<div class="fv-wrap">

  <picture class="fv-bg">
    <!-- SP -->
    <source srcset="../images/fv-sp.jpg" media="(max-width: 768px)">
    <!-- PC -->
    <img src="../images/fv-pc.jpg" alt="フリーランス・個人事業主でも入れる社会保険">
  </picture>

  <div class="fv-contents">

    <a href="#check-easy" class="fv-btn">
      無料シミュレーションの<br>お問い合わせはこちら
    </a>

    <section class="insurance">
      <h2 class="section-title">
        すべての働き方に<br>
        <i class="blue">おトクな社会保険</i>
      </h2>

      <div class="icons">
        <div class="icon ins-aft1"><img src="../images/ins-aft1.png" alt="ご自身の保険料削減"></div>
        <div class="symbol plus">＋</div>
        <div class="icon ins-aft2"><img src="../images/ins-aft2.png" alt="ご家族の保険料無料"></div>
        <div class="symbol equal">＝</div>
        <div class="icon"><img src="../images/c.png" alt="年間100万円以上削減となる方も"></div>
      </div>

      <a href="#check-easy" class="sim-btn">
        お得になるか今すぐシミュレーション
      </a>
    </section>

  </div>

</div>