<section class="qa">
  <div class="inner">
    <h2 class="section-title"><i class="blue">よくあるご質問</i></h2>


    <dl class="qa-item">
      <dt>
        <span class="q-icon">Q</span>個人事業主でも社会保険に加入出来るのですか？
        <span class="toggle-icon">＋</span>
      </dt>
      <dd>
        <p>
          みん社保を利用することで社会保険の適用条件を満たし、個人事業主の方でも社会保険に加入することが可能です。<br>
          詳しい仕組みについては、担当者よりご説明致しますのでお気軽にお申込みください。
        </p>
      </dd>
    </dl>

    <dl class="qa-item">
      <dt>
        <span class="q-icon">Q</span>夜職の方でも入れますか？
        <span class="toggle-icon">＋</span>
      </dt>
      <dd>
        <p>
          はい。キャバクラやホスト、風俗関係に就業されている方もご加入いただけます。
        </p>
      </dd>
    </dl>

    <dl class="qa-item">
      <dt>
        <span class="q-icon">Q</span>法的に問題はないのですか？
        <span class="toggle-icon">＋</span>
      </dt>
      <dd>
        <p>
          当サービスは社会保険制度を活用して、個人事業主の方に社会保険証を提供しています。法的に問題はございません。<br>
          【安心POINT１】　専属の弁護士が所属。大手法律事務所にてリーガルチェック済<br>
          【安心POINT２】　お一人ずつ年金事務所の審査を通過した上で社会保険を適用しています<br>
          【安心POINT３】　加入後は「ねんきんネット」にて加入状況の確認が可能です
        </p>
      </dd>
    </dl>

    <dl class="qa-item">
      <dt>
        <span class="q-icon">Q</span>社会保険の加入手続きはどのような流れになりますか？
        <span class="toggle-icon">＋</span>
      </dt>
      <dd>
        <p>
          フォームよりお申し込み後、電話／WEB面談／対面での面談にてご説明をさせていただき、ご加入の手続きを行わせていただきます。
        </p>
      </dd>
    </dl>

    <dl class="qa-item">
      <dt>
        <span class="q-icon">Q</span>これから個人事業主になる予定なのですが、申込は可能ですか？
        <span class="toggle-icon">＋</span>
      </dt>
      <dd>
        <p>
          1か月以内に個人事業主として独立予定でしたら可能です。お気軽にご相談ください。
        </p>
      </dd>
    </dl>

    <dl class="qa-item">
      <dt>
        <span class="q-icon">Q</span>どんな人にメリットがありますか？
        <span class="toggle-icon">＋</span>
      </dt>
      <dd>
        <p>
          年収250万以上（月給約21万円以上）の方、扶養の配偶者がいらっしゃる方はお得になる可能性が高いです。
        </p>
      </dd>
    </dl>

    <dl class="qa-item">
      <dt>
        <span class="q-icon">Q</span>まずは削減できるかシミュレーションをしてほしいです。
        <span class="toggle-icon">＋</span>
      </dt>
      <dd>
        <p>
          担当者よりその場で削減金額をお伝えします。<br>
          メリットを感じていただけた場合にご加入をご検討いただけますと幸いです。<br>
          無理な勧誘はありませんのでご安心ください。
        </p>
      </dd>
    </dl>

    <dl class="qa-item">
      <dt>
        <span class="q-icon">Q</span>デメリットはありますか？
        <span class="toggle-icon">＋</span>
      </dt>
      <dd>
        <p>
          みん社保をご利用いただくにあたって、月15分程度の簡単な作業がございます。
        </p>
      </dd>
    </dl>

    <dl class="qa-item">
      <dt>
        <span class="q-icon">Q</span>地方に住んでいるのですが、加入できますか？
        <span class="toggle-icon">＋</span>
      </dt>
      <dd>
        <p>
          はい、日本全国の個人事業主様が対象です。
        </p>
      </dd>
    </dl>

    <dl class="qa-item">
      <dt>
        <span class="q-icon">Q</span>外国籍でも加入できますか？
        <span class="toggle-icon">＋</span>
      </dt>
      <dd>
        <p>
          条件により加入できます。<br>
          永住VISA、就労VISA、学生VISAを持ち、住民票が日本の場合は加入対象となります。
        </p>
      </dd>
    </dl>


    
  </div>
</section>



