name: Deploy via FTP

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_HOST }}      # XXX.onamae.ne.jp
          username: ${{ secrets.FTP_USER }}    # FTPアカウント
          password: ${{ secrets.FTP_PASS }}    # FTPパスワード
          local-dir: ./
          server-dir: /public_html/
